*.pdf
*.pdf_tex
*.lol
*.bbl
*.toc
*.log
*.lof
*.bcf
*.blg
*.fdb_latexmk
*.bbl-SAVE-ERROR
*.aux
*.fls
*.out

t3_3000.synctex.gz
t3_3000.synctex
t3_3000.synctex(busy)
t3_3000.pdf
t3_3000.run.xml
t3_3000.tdo