*.pdf
*.pdf_tex
*.lol
*.bbl
*.toc
*.log
*.lof
*.bcf
*.blg
*.fdb_latexmk
*.bbl-SAVE-ERROR
*.aux
*.fls

master.synctex.gz
master.synctex
master.synctex(busy)
master.pdf
master.run.xml
master.tdo
N-Sym-Cycles.webp
neuroSCycle.png